<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>simpleJavaDemo-IPAuth</display-name>
    <servlet>
    <servlet-name>initialServer</servlet-name>
    <servlet-class>com.eds.servlets.initialServer</servlet-class>
    <init-param>
      <param-name>message_format</param-name>
      <param-value>XML</param-value>
    </init-param>
    <init-param>
      <param-name>end_point</param-name>
      <param-value>http://eas-mmilton.epnet.com/edsapi/rest</param-value>
    </init-param>
    <init-param>
      <param-name>authentication_end_point</param-name>
      <param-value>http://eas-mmilton.epenet.com/Authservice/rest</param-value>
    </init-param>
      </servlet>
      <servlet-mapping>
      <servlet-name>initialServer</servlet-name>
        <url-pattern>/initialServer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.eds.servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Retrieve</servlet-name>
    <servlet-class>com.eds.servlets.Retrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Retrieve</servlet-name>
    <url-pattern>/Retrieve/*</url-pattern>
  </servlet-mapping>
  <jsp-config/>
  <welcome-file-list>
    <welcome-file>initialServer.html</welcome-file>
    <welcome-file>initialServer.htm</welcome-file>
    <welcome-file>initialServer.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>